<!-- /**
   * @file Shows the register form.
   * @version 1.2
   * @author Siddique Muhammad
*/ -->

<div class="w-50 mx-auto">
    <h1>Register Form</h1>
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form-group">
        <p>Username:
            <input type="text" formControlName="username" class="form-control">
            <span class="text-danger" *ngIf="this.registerForm.get('username')?.errors?.['required'] && this.registerForm.get('username')?.touched">
            El nombre no puede estar vacío.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('username')?.errors?.['minlength'] && this.registerForm.get('username')?.touched">
            La longitud mínima son 6 caracteres.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('username')?.errors?.['pattern'] && this.registerForm.get('username')?.touched">
                El formato de este campo no es correcto.
            </span>
        </p>
        <p>Password
            <input type="text" formControlName="password" class="form-control">
            <span class="text-danger" *ngIf="this.registerForm.get('password')?.errors?.['required'] && this.registerForm.get('password')?.touched">
            El password no puede estar vacío.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('password')?.errors?.['minlength'] && this.registerForm.get('password')?.touched">
                La longitud mínima son 8 caracteres.
            </span>
        </p>
        <p>Repeat Password
            <input type="text" formControlName="repeatPassword"class="form-control">
            <span class="text-danger" *ngIf="this.registerForm.get('repeatPassword')?.errors?.['required'] && this.registerForm.get('repeatPassword')?.touched">
                El password no puede estar vacío.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('repeatPassword')?.errors?.['minlength'] && this.registerForm.get('repeatPassword')?.touched">
                La longitud mínima son 8 caracteres.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('repeatPassword')?.errors?.['samePass'] && this.registerForm.get('repeatPassword')?.touched">
                La contraseña no es la misma.
            </span>
        </p>
        <p>Email
            <input type="text" formControlName="email" class="form-control">
            <span class="text-danger" *ngIf="this.registerForm.get('email')?.errors?.['required'] && this.registerForm.get('email')?.touched">
                El email no puede estar vacío.
            </span>
            <span class="text-danger" *ngIf="this.registerForm.get('email')?.errors?.['pattern'] && this.registerForm.get('email')?.touched">
                Formato de email no correcto.
            </span>
        </p>
        <p>Gender:<br>
            <input type="radio" name="gender" value="Home" formControlName="gender" >Home<br>
            <input type="radio" name="gender" value="Dona" formControlName="gender">Dona<br>
            <input type="radio" name="gender" value="Altres" formControlName="gender">Altres<br>
            <span class="text-danger" *ngIf="this.registerForm.get('gender')?.errors?.['required'] && this.registerForm.get('gender')?.touched">
                Campo obligatorio
            </span>
        </p>

        <p>Estat civil:
            <select formControlName="status" name="status" id="" class="form-control">
                <option *ngFor="let a of estado" value="{{a}}" selected>{{a}}</option>
            </select>
            <span class="text-danger" *ngIf="this.registerForm.get('status')?.errors?.['required'] && this.registerForm.get('status')?.touched">
                Campo obligatorio
            </span>
        </p>

        <p>Interests:
            <select formControlName="interests" name="interests" id="" class="form-control">
                <option *ngFor="let a of interest" value="{{a}}" selected>{{a}}</option>
            </select>
        </p>

        <p>Accept conditions:
            <input type="checkbox" class="form-check-input" formControlName="conditions">
            <span class="text-danger" *ngIf="this.registerForm.get('conditions')?.errors?.['required'] && this.registerForm.get('conditions')?.touched">
                Tienes que aceptar las condiciones.
            </span>
        </p>    
        
        <button class="btn btn-primary" [disabled]="registerForm.invalid" type="submit">Enviar</button>

        <div>
            <p></p><p><strong>{{data}}</strong></p>
        </div>
    </form>
</div>