<!-- /**
   * @file Shows the login form.
   * @version 1.2
   * @author Siddique Muhammad
*/ -->

<div  class="w-50 mx-auto">
	<h1>Login Form</h1>
  <div>
  <!--Formularis reactius: https://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=91&codigo=91&inicio=80 -->
    <form [formGroup]="loginForm" (ngSubmit)="testLogin()">
      <label>Username:</label>
      <input class="form-control" type="text" id="username" formControlName="username" />
      <label *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.dirty" class = "error"> *El nom no pot estar buit. </label>
      <label *ngIf="loginForm.get('username')?.errors?.['minlength'] && loginForm.get('username')?.dirty" class = "error"> *Ha de cotenir com a mínim 4 caràcters. </label>
      <label *ngIf="loginForm.get('username')?.errors?.['maxlength'] && loginForm.get('username')?.dirty" class = "error"> *Ha de cotenir com a màxim 20 caràcters. </label>
    
      <br>
      <label>Password:</label>
      <input class="form-control" type="text" id="password" formControlName="password"/>
      <label *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty" class = "text-danger"> Password is invalid. </label><br>
      <label *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.dirty" class = "error"> *El nom no pot estar buit. </label>
      <label *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.dirty" class = "error"> *Ha de cotenir com a mínim 5 caràcters. </label>

      <br>
      <button type ="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Iniciar session</button>
      <br>
    </form>
    <div *ngIf="message">
      Credencials incorrectes
    </div>
  </div>
</div>
